<section class="card-two">
  <div class="container">
    <h2 class="card-two__title">Вгадай число, яке загадав комп’ютер</h2>
    <div class="card-two__content">
      <form class="card-two__form">
        <input
        type="number"
        id="card-two-input"
        class="card-two__input"
        placeholder="Введіть число"
        required
      />
      <button class="card-two__btn" id="card-two-btn" type="button">
        <svg width="15px" height="15px">
          <use href="./images/symbol-defs.svg#icon-lupa"></use>
        </svg>
      </button>
      </form>
      <p class="card-two__text">Спробуй свою удачу :- )</p>
    </div>
    <div class="card-two__line"></div>
  </div>
</section>