<section class="card-nine">
    <h3>Наша команда</h3>
    <div class="div-card">
        <div class="one">
            <!-- <img src="" alt=""> -->
            <h4>Ім'я студента</h4>
            <p>Інформація про роботу яку він виконав</p>
        </div>
        <div class="two">
            <!-- <img src=""
                 alt=""> -->
            <h4>Ім'я студента</h4>
            <p>Інформація про роботу яку він виконав</p>
        </div>
        <div class="three">
            <!-- <img src=""
                 alt=""> -->
            <h4>Ім'я студента</h4>
            <p>Інформація про роботу яку він виконав</p>
        </div>
        <div class="four">
            <!-- <img src=""
                 alt=""> -->
            <h4>Ім'я студента</h4>
            <p>Інформація про роботу яку він виконав</p>
        </div>
        <div class="five">
            <!-- <img src=""
                 alt=""> -->
            <h4>Ім'я студента</h4>
            <p>Інформація про роботу яку він виконав</p>
        </div>
        <div class="six">
            <!-- <img src=""
                 alt=""> -->
            <h4>Ім'я студента</h4>
            <p>Інформація про роботу яку він виконав</p>
        </div>
        <ul>
            <li class="mini-line"></li>
            <li class="mini-line"></li>
            <li class="mini-line"></li>
        </ul>
        <button class="our-team-btn"></button>
        <button class="our-team-btn"></button>
        <div class="line"></div>
    </div>
</section>