<section class="card-eight">
  <div class="container">
    <h1 class="card-eight__title">Введіть 3 числа</h1>
    <div class="card-eight__content">
      <input
        type="text"
        class="card-eight__input"
        id="card-eight-input-one"
        placeholder="Введіть число"
        required
      />
      <input
        type="text"
        class="card-eight__input"
        id="card-eight-input-two"
        placeholder="Введіть число"
        required
      />
      <input
        type="text"
        class="card-eight__input"
        id="card-eight-input-three"
        placeholder="Введіть число"
        required
      />
    </div>
    <p class="card-eight__text">Дізнайся про найбільше число :- )</p>
  </div>
  <div class="card-eight__line"></div>
</section>