<header class="header">
  <div class="container">
    <ul class="header__list">
      <li class="header__item">
        <a href="./index.html">
          <svg width="93px" height="38px">
            <use href="./images/symbol-defs.svg#icon-logo"></use>
          </svg>
        </a>
      </li>
      <li class="header__item">
        <ul class="header__nav">
          <li class="header__nav-item">
            <select id="header-select" name="header">
              <option class="header__option" value="1">Числовий</option>
              <option class="header__option" value="2">Ігровий</option>
              <option class="header__option" value="3">Ознайомчий</option>
            </select>
          </li>
          <li class="header__nav-item">
            <a class="header__link" href="#">Наша команда</a>
          </li>
          <li class="header__nav-item">
            <a class="header__link" href="#">Контакти</a>
          </li>
        </ul>
      </li>
      <li class="header__item">
        <div class="header__wrap">
          <button id="header-btn" class="header__btn">
            <svg width="40px" height="20px">
              <!-- <use href="./symbol-defs.svg#icon-header-light-version"></use> -->
            </svg>
          </button>
          <p class="header__text">Вітаємо, User!</p>
        </div>
      </li>
    </ul>
  </div>
</header>
